<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <style>
        html {
            background-image: url('https://colorlib.com/etc/lf/Login_v4/images/bg-01.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100%;
        }

        .sign-up-successful {
            margin: auto;
            background-color: azure;
            width: fit-content;
            padding: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .sign-up-successful h1 {
            padding-bottom: 50px;
        }

        .sign-up-successful a {
            padding: 30px;
            border-radius: 20px;
            background-image: url('https://colorlib.com/etc/lf/Login_v4/images/bg-01.jpg');
            text-decoration: none;
        }

        

        .poppins-regular {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
    </style>
</head>

<body class="poppins-regular">

    <div class="sign-up-successful">
        <h1>Sign Up Successfully</h1>
        <a href="http://localhost:4000/login">Go to login >></a>

    </div>

</body>

</html>