html {
      background-color: #e4e9fd;
      background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
      min-height: 1000px;
      font-family: "helvetica neue";
    }

.Today {
  height: 50px;
  width: 300px;
  background-color: #a683e3;
  margin: 50px auto auto auto;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Today h1 {
  color: white;
  padding: 5px;
}

.List {
  width: 300px;
  background-color: white;
  margin: 50px auto auto auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item__task {
  height: 40px;
  padding: 10px;
  display:flex;
  border-bottom: 3px solid whitesmoke;
}

.delete {
  margin-right: 10px;
  margin-top: 7px;
}

.item__task button {
  background-color: inherit;
  border: 0;
}

.item__taskEdit {
  display:flex;
}

.item__taskEdit input[type="text"] {
  border: 0;
  outline: 0;
  font-size: 1.1rem;
  width: 195px;
  overflow-x: scroll;
}

.item__add {
  padding: 10px;
  display: flex;
}

.item__add input {
  flex: 1;
  border: 0;
  margin-top: 10px;
  outline: 0;
  border-bottom: 3px solid gray;
}

.item__add label {
  position:absolute;
  color: gray;
  font-size: 1.2rem;
  margin-left: 3px;
  margin-top: 11px;
  z-index: 1;
  transition: 0.2s;
  pointer-events: none;
}

.item__add button{
  background-color: #a683e3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  font-size: 2rem;
  border: 0;
  color:white;
}

.item__add input:focus {
  ~ label {
    font-size: 1rem;
    margin-top: -5px;
    transition: 0.2s;
    color: green;
  }

  border-bottom: 3px solid green;
  transition: 0.2s;
}

.hidden {
  visibility: hidden;
}

.unselectable {
  pointer-events: none;
}